<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="mo.app.linkms"
    android:versionCode="2"
    android:versionName="1.01" >

    <uses-permission android:name="android.permission.VIBRATE" />
    
    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="21" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" android:theme="@android:style/Theme.Translucent.NoTitleBar">
        <activity
            android:name="MainActivity"
            android:excludeFromRecents="true" >
            <intent-filter>
				<data android:scheme="http"
					android:host="static.monster-strike.com"/>
				<data android:scheme="http"
				    android:host="line.naver.jp"/>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>
    </application>

</manifest>
